@import url("https://fonts.cdnfonts.com/css/konigsberg");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  list-style: none;
  margin: 0px;
}

/* navbar style */
nav .container-fluid {
  margin: 0;
  padding: 0;
}
.navbar-brand {
  font-family: "Königsberg", sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: rgb(176, 15, 13);
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.6);
}
#navbar {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 10000;
}
.nav-link {
  position: relative;
  font-weight: 700;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  font-size: 19px;
}

.nav-link:hover,
.nav-link:focus {
  color: rgb(58, 58, 58);
}

.nav-link::after {
  content: "";
  height: 4px;
  width: 100%;
  background: #25a0ff;
  border-radius: 1px;
  display: block;
  opacity: 0;
  transition: 0.6s;
  pointer-events: none;
  /* position: absolute; */
}
.nav-link:hover::after,
.nav-link:focus::after {
  opacity: 1;
}

/* logo-icon style */
.logo-icon {
  width: 50px;
}

.fa-icon {
  color: #74c0fc;
}

/* body style */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
/* .c-item {
  height: 500px;
} */

.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

.hero-text {
  position: absolute;
  top: 40%;
}
.hero-text h1 {
  font-size: 50px;
  text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.6);
}
.btn {
  border: 1px solid white;
  transition: 0.5s;
  margin-top: 10%;
}
.btn:hover {
  outline: 2px solid #ff0000;
}
.order-btn {
  text-decoration: none;
  color: rgb(224, 224, 224);
  font-weight: bold;
  font-size: 20px;
  text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.6);
  transition: 0.5s;
}
.order-btn:hover {
  color: rgb(224, 224, 224);
}

/* carousel line */
#line {
  height: 55px;
  background-color: rgb(255, 129, 83);
}

/* section */

.sec {
  border: 1px solid black;
  padding: 0;
}

/* menu */
.card-img-top {
  object-fit: cover;
  height: 200px;
  display: grid;
  gap: 1.5rem;
}

/* media queries style */
@media only screen and (max-width: 768px) {
  .row {
    width: auto;
    object-fit: fill;
  }
}
