@import url("https://fonts.cdnfonts.com/css/konigsberg");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

/* navbar style */
.navbar-brand {
  font-family: "Königsberg", sans-serif;
  font-weight: bold;
  font-size: 30px;
}
#navbar {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1;
}

/* logo-icon style */
.logo-icon {
  width: 50px;
}

.fa-icon {
    color: #74c0fc;
}

/* body style */
body {
  font-family: "Poppins", sans-serif;
}
.c-item {
    height: 500px;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

/* cards style */
.card-body {
    height: 330px;
}
/* media queries style */
@media only screen and (max-width: 768px) {
  .navbar-brand {
    display: none;
  }

  .logo-icon {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
